/.gitignore export-ignore
/.gitattributes export-ignore

/.github export-ignore

/models export-ignore
/shaders export-ignore
/textures export-ignore
/src export-ignore
/cmake export-ignore
/CMakeLists.txt export-ignore
/CMakePresets.json export-ignore
